<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/jquery.js"></script>
    <title>Manage cashbook</title>
</head>
<body>
<div class="container">
  <div class="row wrapper">
    <div class="col-6">
      <span>manage cashbook here</span>
        <div class="border pd">
          <button class="btn btn-block btn-secondary" id="openComplete">Open complete book</button>
          <button class="btn btn-block btn-secondary" id="cbReceipt">Open Cashbook Receipt</button>
          <button class="btn btn-block btn-secondary" id="cbPayment">Open Cashbook Payments</button>
        </div>
    </div>
  </div>
</div>
<script type="module" src="../js/cashbookmodal.js"></script>    
</body>
</html>