<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.js"></script>
    <title>Cashbook report</title>
</head>
<body>
 <div class="container">
    <div class="row wrapper">
        <div class="col-md-12">
            <span>Select cashbook to generate report</span>
           <div class="border pd">
            <div class="row form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="date">Select Cashbook <span class="required">*</span>:
                </label>
               <div class="col-md-6 col-sm-6 ">
                 <select name="" id="cbID" class="form-control">
                    
                 </select>
               </div>
           </div>
           </div>
        </div>
    </div>
 </div>
 <script type="module" src="./js/cashbook.js"></script>   
</body>
</html>