<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.js"></script>
    <title>Create pledge/payment</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 wrapper justify-content-center">
               <div class="contentHolder">
                <span>enter pledge/payment name</span>
                  <div class="border pd">
                    <div class="row form-group">
                       <div class="col-md-7 col-sm-7 ">
                         <input type="text" name="date" id="title" class="form-control" placeholder="pledge/payment title">
                       </div>
                       <label class="col-form-label col-md-3 col-sm-3 label-align" for="date">
                        <button class="btn btn-secondary btn-sm" id="pledgeTitle">create</button>
                       </label>
                    </div>
                  </div>                 
               </div>
            </div>
        </div>
    </div>
<script type="module" src="./js/pledge.js"></script>    
</body>
</html>