<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.js"></script>
    <title>Record new revenue</title>
</head>
<body>

  <div class="topContainer" id="">
    <div class="container-fluid">
      <div class="row nav-content2">
          <div class="col-md-12">
              <div class="topNav">
                  <ul class="topnavs">
                      <li class="topitems" title="close"><i class="fa fa-times"></i></li>
                      <li class="topitems" title="recored revenue" id="revenueShort"><i class="fa fa-money"></i></li>
                      <li class="topitems" title="record expenses" id="expShort"><i class="fa fa-credit-card"></i></li>
                      <li class="topitems" title="contra entry" id="contraShort"><i class="fa fa-rotate-right"></i></li>
                      <li class="topitems" title="New Account" id="accountShort"><i class="fa fa-folder-o"></i></li>
                      <li class="topitems" title="open active Cashbook"><i class="fa fa-folder-open-o"></i></li>
                      <li class="topitems" title="calculator" id="calcus"><i class="fa fa-calculator"></i></li>
                  </ul>
                  <ul class="topnavs">
                      <li>Wecome, <span id="User-Name"></span></li>
                      <li class="topitems" title="logout"><a href="a" style="color: #fff;" id="logoutBtn"><i class="fa fa-power-off"></i></a></li>
                  </ul>
              </div>
              
          </div>
      </div>
    </div>
  </div>

    <div class="container-fluid">
        <div class="row wrapper">
           <div class="col-md-6 ">
            <span>Revenue details</span>
             <div class="paydetails border pd">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Date:</label>
                    <div class="col-sm-8">
                        <input type="date" id="date" name="" required="required" class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Receive in</label>
                    <div class="col-sm-8">
                        <select name="" id="payWith" class="form-control">
                             <option value="">--please select--</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Amount</label>
                    <div class="col-sm-8 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">GH¢</span>
                         </div>
                         <input type="text" class="form-control" id="amount" size="3">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-8">
                        <input type="text" id="details" name="" required="required" class="form-control input-sm">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">cheque/rec.No</label>
                    <div class="col-sm-8">
                        <input type="text" id="ref_no" name="" required="required" class="form-control">
                    </div>
                  </div>
             </div>
             <br>
             <span>Credit Local Account With:</span>
             <div class="credit-local border pd">
                <table class="table">
                    <tr>
                    <th>Account</th>
                    <th>Amount</th>
                    <th></th>
                    </tr>
                    <tr>
                        <td>
                        <select name="" id="exp_id" class="form-control">
                        <option value="0">--Please select---</option>
                            @foreach($payWith as $ep)
                             @if($ep->accountClass==0)
                            <option value="{{$ep->Account_id}}">{{$ep->name}}</option>
                            @else
                            @endif
                            @endforeach
                        </select> 
                        </td>
                        <td>
                          <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">GH¢</span>
                             </div>
                             <input type="text" class="form-control" id="amtLC2">
                           </div>
                        </td>
                        <td>
                           <a href="#" class="btn btn-secondary" id="addnewLc"><i class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                    <tbody class="tbodyLc">

                    </tbody>
                </table>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">
                        <select name="" id="localId">                          
                            <option value="{{$lc->id}}">{{$lc->name}}</option>
                        </select>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" name="" id="Lamt" class="form-control" disabled>
                        <input type="hidden" id="Lamt2">
                    </div>
                  </div>    
             </div>
             <br>
             <span>Credit other account:</span>
             <div class="other-account border pd">
                <table class="table">
                       <tr>
                             <th>
                                 <select name="" id="debitAcc" class="form-control">
                                    <option value="0">--Please select--</option>
                                      @foreach($payWith as $debit)
                                      @if($debit->name=='Cash' || $debit->name=='Bank' || $debit->accountClass==0 || $debit->name=='Local Account')
                                      @else
                                    <option value="{{$debit->Account_id}}">{{$debit->name}}</option>
                                     @endif
                                     @endforeach
                                    </select> 
                             </th>
                             <th>
                               <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">GH¢</span>
                                  </div>
                                    <input type="text" class="form-control" id="amount2">
                                  </div>
                             </th>
                             <th>
                                 <a href="#" class="btn btn-secondary" id="addnewAcc"><i class="fa fa-plus"></i></a>
                             </th>
                           </tr>
                       <tbody class="tbody2">
                          
                       </tbody>
                 </table>
                 <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Credit Other Accounts GH¢</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control totalAmount" value="0.00" disabled>
                    </div>
                  </div>
             </div>
           </div>
           <div class="col-md-6 sticky-aside">
            <span class="text-center">Analytical table</span>
              <div class="analytical-table border pd">
                     <table class="table">
                       <tbody class="cashAnalytics">
                        
                       </tbody>
                       <tfoot>
                        <tr>
                          <td>Total</td>
                          <td style="text-align:right;font-weight:bold;" class="">
                            <span class="analysFianalTotal">0.00</span> 
                            <span class="checkTotal hide"></span>
                          </td>
                        </tr>
                       </tfoot>
                     </table>
                     <hr>
              </div>
           </div>
           <div class="col-md-12">
            <hr>
           <div class="clearfix">
               <button class="btn btn-sm btn-secondary" id="recordRev">Record</button>
           </div>
           </div>
        </div>
    </div>
 
    <script type="module" src="./js/revenue.js"></script>
</body>
</html>