<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./vendor/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.js"></script>
    <title>View cash book</title>
    <style>
        body{
            font-size: 0.8em;
        }
        a {
            font-size: 0.5em;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row wrapper">
            <div class="col-md-12">
                <span>Manage all cashbook here</span>
                <div class="border pd">
                    <table id="datatable" class="table">
                        <thead>
                           <tr>
                             <th>S/N</th>
                             <th>CashBook Name</th>
                             <th>Start Date</th>
                             <th>End Date</th>
                             <th>Date Created</th>
                             <th>status</th>
                             <th></th>
                           </tr>
                        </thead>
                        <tbody class="tbody1">
                         
                        </tbody>
                   </table>
                </div>
            </div>
        </div>
    </div>

   <script src="./vendor/js/bootstrap.bundle.min.js"></script>
   <script src="./vendor/js/dataTables.bootstrap.min.js"></script> 
   <script type="module" src="./js/viewcashbook.js"></script>
</body>
</html>