body{
    background-color: #eee;
    font-size: 0.8em;
}
input, select{
    background-color: transparent !important;
}
input:focus, select:focus{
    outline: none !important;
    box-shadow: none !important;
}

.login-wraper{
    margin-top: 80px;
}

.wrapper{
    margin-top: 55px;
    margin-bottom: 30px;
}
.hide, .hideMe{
    display: none;
}

.pd{
    padding:15px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
    justify-content: center;
}
.rt{
    text-align: right;
  }
.topnavs{
    display: flex;
    list-style-type: none;
    gap: 1em;
}

.topnavs li{
  cursor: pointer;
}

.nav-left{
    min-height: 100vh;
    width: 230px;
    padding: 0;
    position: absolute;
    display: flex !important;
    z-index: 1;
    background-color: #575555;
    justify-content: center;
    
}

.asideMenu span.fa{
  float: right;
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  min-width: inherit;
  color: #C4CFDA;
}

.asideMenu .fa{
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.asideMenu{
    margin-bottom: 35px;
}

.asideMenu > ul{
    margin-top: 10px;
    display: block;
    
}

.nav.sideMenu > li {
    position: relative;
    display: block;
    border-bottom: 1.5px solid #757373;
}
  
  .nav.sideMenu > li {
    margin-bottom: 6px; }
  
  .nav.sideMenu > li:hover {
    color: #F2F5F7 !important; }
  
  .nav.sideMenu > li:hover, .nav > li:focus {
    background: transparent; }

.sideMenu{
    list-style-type: none;
    padding: 10px;
    color: #C4CFDA;
    min-width: 100%;
    
}

.sideMenu li{
    font-size: 0.9em;
    cursor: pointer;
    padding-top: 10px;
   
} 

.sideMenu li .menuItems{
    display: flex;
    justify-content: space-between;
    
}

.sideMenu li .submenu{
    list-style-type: none;
    display: none;
}
/*
.asideMenu{
    position:fixed;
    height: 100%;
    justify-content: center;
   overflow-y: scroll;
   padding: 20px;
}
*/
.topContainer{
    color:#fff;
    background-color:gray; 
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
}

.nav-content{
    margin-left: 200px;
}

.topContainer .topNav{
    margin-top: 7px;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
}

footer{
    position: absolute;
    bottom:0;
    font-size:0.8em;
    min-width: 100%;
}

.listSteps{
	list-style-type: none;
	display: flex;
	justify-content: center;
	
}

.listSteps .step{
	text-align: center;
	padding-left: 3em;
	padding-right: 3em;
}

.listSteps .step div .stepNum{
	font-size: 1.5em;
	font-weight: bolder;
	
	
}

.listSteps li span{
    font-size: 0.7em;
}
.listSteps li p{
    font-size: 0.7em;
}
.bordered{
    border: 1px solid #777;
}

label{
    font-size: 0.9em !important;
}
.bold-text{
	font-weight: bolder;
}

.text-red{
	color: red;
}

.text-green{
	color: green;
}
.header{
    position: fixed;
    width: 100%;
    top: 5;
    z-index: 1000;
    background-color: #eee;
}
.outputResult{
    top: 150px;
    position: fixed;
    height: 60%;
    overflow-y: scroll;
    width: 100%;
   padding: 20px;
   background-color: #fff;
}

.resultArea{
    background-color: #fff;
    height: auto;
    padding: 20px;
    width: 100% !important;
}

.baseItem{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #eee;
}

.login-wrapper{
    display: flex;
}
.login-inputs{
   background: #fff;
   height: 400px;
   width: 300px;
   padding-top: 80px;
}

.login-inputs input{
    width: 100%;
    border-bottom: 1px solid #777 !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
    font-size: 13px;
    font-style: italic;
}
.login-item{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 15px;
}

.login-btn .btn{
    font-size: 12px !important;
}

.login-btn{
    padding: 10px;
    text-align: center;
}
.login-btn p a{
    color:#575555;
}
.mylabel i{
    font-size: 1.5em;
    margin-top: 15px;
}

.mylabel{
    width: 20px;
}

.login-img{
  max-width: 300px;
  height: 400px;
}

.login-banner{
margin: 0 !important;
}

.right-col{
    margin-left: 230px;
    margin-top: 100px;
}

.page-content{
    min-height: 100%;
}
.page-header{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.page-header img{
    max-width: 25px;
    max-height: 25px;
}
.page-item{
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #777;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    padding: 5px;
}

.page-item .icon-holder{
    font-size: 2em;
}
.fixed-aside{
    position: fixed;
    min-height: 100vh;
    border: 1px solid #757373;
    width: 230px;
    right: 20px;
    margin-top: 0;
    overflow-y: scroll;
    background-color: #575555;
}


.sticky-aside{
    position: fixed;
    right: 0;
    overflow-y: scroll;
    height: 100%;
    z-index: 1;
}
.mainMenu{
    background-color: #eee !important;
    color: #575555 !important;
    margin-top: 3px;
}

.mainMenu .menuIist{
    z-index: 1;
    margin-left: 230px;
    list-style-type: none;
    display: flex;
    gap: 3em;
    font-size:1em;
}
.mainMenu .menuIist .nav-item .nav-link{
    color: #575555;
}

.mainMenu .menuIist .nav-item .nav-link.active{
   background-color: grey;
   color: #fff;
}

